schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:prompt="http://llm-ui-spec.org/prompt"
  xmlns:editor="http://llm-ui-spec.org/editor">

  <!-- ==================== ROOT ELEMENTS ==================== -->

  <!-- Webapp root -->
  <xs:element name="webapp" type="appType" />

  <!-- Mobile app root -->
  <xs:element name="mobileapp" type="appType" />

  <!-- Desktop app root -->
  <xs:element name="desktopapp" type="appType" />

  <xs:complexType name="appType">
    <xs:sequence>
      <xs:element ref="import" minOccurs="0" maxOccurs="unbounded" />
      <xs:element ref="config" minOccurs="0" />
      <xs:element ref="entities" minOccurs="0" />
      <xs:element ref="guards" minOccurs="0" />
      <xs:element ref="actions" minOccurs="0" />
      <xs:element ref="components" minOccurs="0" />
      <xs:element ref="layouts" minOccurs="0" />
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="version" type="xs:string" />
  </xs:complexType>

  <xs:element name="import">
    <xs:complexType>
      <xs:attribute name="src" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

  <!-- ==================== TWO PRIMITIVES ==================== -->

  <!-- Element: Leaf node (no children) -->
  <xs:element name="element">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" />
      <xs:attribute name="type" type="xs:string" />
      <xs:attribute name="prompt" type="xs:string" />
      <xs:attribute name="use" type="xs:string" />
      <xs:attribute name="if" type="xs:string" />
      <xs:attribute name="if-not" type="xs:string" />
      <xs:attribute name="for-each" type="xs:string" />
      <xs:attribute name="to" type="xs:string" />
      <xs:anyAttribute processContents="lax" />
    </xs:complexType>
  </xs:element>

  <!-- Container: Node with children -->
  <xs:element name="container">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" />
      <xs:attribute name="type" type="xs:string" />
      <xs:attribute name="prompt" type="xs:string" />
      <xs:attribute name="use" type="xs:string" />
      <xs:attribute name="if" type="xs:string" />
      <xs:attribute name="if-not" type="xs:string" />
      <xs:attribute name="for-each" type="xs:string" />
      <xs:anyAttribute processContents="lax" />
    </xs:complexType>
  </xs:element>

  <!-- ==================== ENTITIES ==================== -->

  <xs:element name="entities">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="entity" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="entity">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="field" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="field">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="type" type="fieldType" use="required" />
      <xs:attribute name="prompt" type="xs:string" />
      <xs:anyAttribute processContents="lax" />
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="fieldType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="uuid" />
      <xs:enumeration value="string" />
      <xs:enumeration value="text" />
      <xs:enumeration value="richtext" />
      <xs:enumeration value="email" />
      <xs:enumeration value="url" />
      <xs:enumeration value="phone" />
      <xs:enumeration value="number" />
      <xs:enumeration value="integer" />
      <xs:enumeration value="decimal" />
      <xs:enumeration value="boolean" />
      <xs:enumeration value="date" />
      <xs:enumeration value="time" />
      <xs:enumeration value="datetime" />
      <xs:enumeration value="image" />
      <xs:enumeration value="file" />
      <xs:enumeration value="json" />
      <xs:enumeration value="enum" />
      <xs:enumeration value="ref" />
    </xs:restriction>
  </xs:simpleType>

  <!-- ==================== GUARDS ==================== -->

  <xs:element name="guards">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="guard" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="guard">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" />
      <xs:attribute name="type" type="xs:string" />
      <xs:attribute name="prompt" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <!-- ==================== ACTIONS ==================== -->

  <xs:element name="actions">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="action" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="action">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="prompt" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <!-- ==================== COMPONENTS ==================== -->

  <xs:element name="components">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="component" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="component">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="props" minOccurs="0" />
        <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="props">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="prop" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="prop">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="type" type="xs:string" use="required" />
      <xs:attribute name="prompt" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <!-- ==================== LAYOUTS ==================== -->

  <xs:element name="layouts">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="layout" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="layout">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="slot">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" />
      <xs:attribute name="target" type="xs:string" />
      <xs:attribute name="prompt" type="xs:string" />
      <xs:anyAttribute processContents="lax" />
    </xs:complexType>
  </xs:element>

  <!-- ==================== PAGES (Webapp) ==================== -->

  <xs:element name="pages">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="page" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="page">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="guards" minOccurs="0" />
        <xs:element ref="data" minOccurs="0" />
        <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="route" type="xs:string" />
      <xs:attribute name="layout" type="xs:string" />
      <xs:attribute name="prompt" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <!-- ==================== SCREENS (Mobile) ==================== -->

  <xs:element name="screens">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="screen" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="screen">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="guards" minOccurs="0" />
        <xs:element ref="data" minOccurs="0" />
        <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="prompt" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <!-- ==================== VIEWS (Desktop) ==================== -->

  <xs:element name="views">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="view" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="view">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="guards" minOccurs="0" />
        <xs:element ref="data" minOccurs="0" />
        <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="prompt" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <!-- ==================== DATA ==================== -->

  <xs:element name="data">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="query" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="query">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="type" type="xs:string" />
      <xs:attribute name="prompt" type="xs:string" />
      <xs:anyAttribute processContents="lax" />
    </xs:complexType>
  </xs:element>

  <!-- ==================== MODALS (Webapp) ==================== -->

  <xs:element name="modals">
    <xs:complexType>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ==================== SHEETS (Mobile) ==================== -->

  <xs:element name="sheets">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="sheet" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="sheet">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="prompt" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <!-- ==================== ALERTS (Mobile) ==================== -->

  <xs:element name="alerts">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="alert" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="alert">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="prompt" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <!-- ==================== DIALOGS (Desktop) ==================== -->

  <xs:element name="dialogs">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dialog" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="dialog">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="prompt" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <!-- ==================== WINDOWS (Desktop) ==================== -->

  <xs:element name="windows">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="window" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="window">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" />
      <xs:attribute name="prompt" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <!-- ==================== CONTEXT MENUS (Desktop) ==================== -->

  <xs:element name="context-menus">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="context-menu" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="context-menu">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

  <!-- ==================== PROMPT ==================== -->

  <xs:element name="prompt">
    <xs:complexType mixed="true">
      <xs:attribute name="context" type="xs:boolean" />
      <xs:attribute name="override" type="xs:boolean" />
      <xs:attribute name="constraints" type="xs:boolean" />
      <xs:attribute name="for" type="xs:string" />
      <xs:attribute name="type" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <!-- ==================== CONFIG ==================== -->

  <xs:element name="config">
    <xs:complexType>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ==================== GENERIC CONTENT ==================== -->

  <!-- Allow any other elements with any attributes for flexibility -->
  <xs:complexType name="anyContent" mixed="true">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
    </xs:sequence>
    <xs:anyAttribute processContents="lax" />
  </xs:complexType>

  <!-- Common elements that may appear in any platform -->
  <xs:element name="separator" type="anyContent" />
  <xs:element name="spacer" type="anyContent" />
  <xs:element name="toaster" type="anyContent" />

</xs:schema>
